@property --stage-width {
    syntax: "<length> | auto";
    inherits: false;
    initial-value: 1000px;
}

svg text {
    font-size: 8pt;
    fill: #ccc;
}

svg line.grid {
    stroke: #333;
    stroke-width: 1px;
}

svg line.dashed {
    stroke: #222;
    stroke-dasharray: 2,2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    line-height: 150%;
    font-size: 10.5pt;
    font-family: sans-serif;
    color: #ccc;
    appearance: none;
    user-select: none;
}

html {
    touch-action: manipulation;
}

body {
    margin-bottom: 100px;
    background-color: #222;
}

main {
    margin: 0 auto;
    width: 100dvw;
    max-width: var(--stage-width);
}

main > section > section {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

main > section > section > * {
    margin: 5px;
    min-width: calc(100% - 10px);
    scroll-snap-align: center;
}

main > footer {
    position: fixed;
    flex-wrap: nowrap;
    bottom: 0;
    left: 0;
    width: 100dvw;
    height: 90px;
    overflow-x: scroll;
    background: #000e;
    padding: 10px calc((100dvw - var(--stage-width) - 10px) / 2);
}

menu {
    display: flex;
    justify-content: space-between;
    border-left: solid 1px #ccc;
}

menu > li {
    margin: 0;
    border: solid 1px #333;
    border-right: solid 1px #ccc;
    padding: 5px;
}

menu div {
    margin: 0;
    font-size: 7pt;
}

@media screen and (max-width: 999px) {

    main > footer {
        width: 100dvw;
        padding: 10px;
    }
}

main > [v-show] {
    display: none;
}

div, fieldset, ul, ol, dl, table {
    margin: 5px 0;
}

fieldset {
    border: solid 2px #000;
    border-radius: 10px;
    background: #111;
    padding: 0 5px;
}

legend {
    margin: 0;
    padding: 0 5px;
    font-size: 10.5pt;
    font-weight: bold;
    color: #999;
}

button {
    margin: 0 2px;
    min-width: 30px;
    height: 20px;
    background: #000;
    border-radius: 10px;
}

input:not([type="range"]), select {
    background: #000;
    border-radius: 10px;
    padding: 3px 10px;
}

input[type="range"] {
    background: #000;
    margin: 3px 0;
    width: 100%;
    max-width: 150px;
    height: 20px;
    border-radius: 10px;
    padding: 0 2px;
    vertical-align: -4.5pt;
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-moz-range-track {
    background: none;
    height: 20px;
    border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 9px;
    border: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    height: 20px;
    width: 4.5em;
    text-align: right;
    text-indent: -1em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type="text"] {
    width: 4em;
    text-align: right;
}

input[disabled] {
    border: none;
    background: none;
}

input[type="radio"], input[type="checkbox"] {
    display: none;
}

label {
    margin: 3px;
    white-space: nowrap;
    line-height: 100%;
}

label:has(input[type="radio"]) {
    display: inline-block;
    background: #000;
    border-radius: 10px;
    padding: 3px 10px;
}

label:has(input[type="radio"]:checked) {
    background: #3c3;
    font-weight: bold;
    color: #000;
}

li, dt, dd {
    margin: 3px 0;
}

li {
    display: inline-block;
    margin: 5px 0;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: solid 2px #333;
    border-radius: 5px;
}

caption {
    text-align: left;
    font-weight: bold;
}

col.row-header {
    background: #000;
}

col.total {
    background: #000;
    min-width: 4em;
}

th, td {
    border-bottom: solid 1px #333;
    border-left: dotted 1px #333;
    padding: 3px 6px;
}

th {
    font-size: 75%;
}

td {
    text-align: right;
}

canvas {
    background: #000e;
}

#graph {
    position: sticky;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.agent-status {
    margin: 0;
    background: #000e;
    padding: 5px;
}

.agent-status td {
    border-bottom: none;
}

.agent-status tr.base td {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 75%;
}

.agent-status tr.add td {
    padding-top: 0;
    font-size: 75%;
    color: #0c3;
}

.agent-status tr.add td::before {
    content: '+';
}

.value {
    text-align: right;
}

.digit2 {
    width: 3em !important; 
}

.nowrap {
    white-space: nowrap;
}